Read the csv or excel file.

In [11]:
import pandas as pd
data=pd.read_csv(r'C:\Users\shaha\Downloads\used_bikes.csv')

In [12]:
data

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

Change the datatypes of the column and check the memory usage before and after the change in the data types.

In [13]:
print("Data Types")
print(data.dtypes) 
print("\n memory usage")
print(data.memory_usage(index=False))

Data Types
bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

 memory usage
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64

After Conversion

In [14]:
convert = {'bike_name': str,'city': str,'owner':str,'brand' : str, 'price':int, 'kms_driven':int, 'age':int , 'power':int }
data=data.astype(convert)
print("Data Types")
print(data.dtypes) 
print("\n memory usage")
print(data.memory_usage(index=False))

Data Types
bike_name     object
price          int32
city          object
kms_driven     int32
owner         object
age            int32
power          int32
brand         object
dtype: object

 memory usage
bike_name     1192
price          596
city          1192
kms_driven     596
owner         1192
age            596
power          596
brand         1192
dtype: int64